@charset "UTF-8";

 header{
     background-color: rgb(153,204,102);
        border: double;
          
          }

#Cabecerapagina{
    background-color: rgb(153,204,102);
    border:double;
}

#principal{
    background-color: rgb(153,204,153);
    
}
    /*Barra de navegacion*/
#barra{
    
    background-color: #FF6600;
}

#barra ul li:nth-child(1){
    background: #FFFFFF;
}

#barra ul li:nth-child(2){
    background: #CCCCCC;
}

#barra ul li:nth-child(3){
    background: #999999;
}
